@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

/* Hide scrollbar for carousels but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
